@import url(https://fonts.googleapis.com/css2?family=Niramit&display=swap);

//Colors for main elements
$theme-primary-color: #FFFFFF;
$theme-text-color: #000000;
$theme-secondary-color: #010819;

// Colors for background elements (non-interactive)
$dark-orange: #ED6B00;
$light-orange: #FF933A;
$pale-orange: #FFC99C;
$light-grey: #D9D9D9;
$light-grey-post: #F3F3F3;
$light-dark: #3A3343;
$grey-post: #5A4F79;
$soft-grey: #AAA7BC;
$light-brown: #6F4118;
$strong-grey: #353946;
$soft-primary-color: #F9F9F9;



//Fonts for main elements
$theme-title-font: "Niramit", sans-serif;



//Fonts for specific elements
$theme-button-font: "Roboto", sans-serif;
