@import './../../variables';

@mixin backDiv($divColor) {
    position: relative;
    left: -5%;
    width: 110%;
    height: 4rem;
    background-color: $divColor;
    transform:rotateZ(-10deg);
    z-index: 1;
}

.Background_Spacing{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30vh 0;

    .Back_Figure_Light_Orange {
        @include backDiv($light-orange);
    }
    
    .Back_Figure_Pale_Orange{
        @include backDiv($pale-orange);
    }
}
